<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <img class="logo" src="assets\images\apple-touch-icon.png" alt="">
    <a class="navbar-brand custom-font" href="#"> Mobiles.Buy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="form-inline mx-auto">
       <h3></h3>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="sort-btn" (click)="toAccout()"><i class="fas fa-user"></i> {{buttonPlaceHolder}}</button>
        </li>
        <li class="nav-item">
          <button class="sort-btn" (click)="toabout()"><i class="fas fa-info-circle icon"></i> About Us</button>
        </li>
        <!-- <li class="nav-item">
          <button class="sort-btn" routerLink="admin">Admin</button>
        </li> -->
      </ul>
    </div>
  </nav>
  